@tailwind base;
@tailwind components;
@tailwind utilities;

.container
{
    @apply max-w-[90rem] p-6 w-full mx-auto;
}


@layer components
{
    .header
    {
        @apply  text-light
    }
    .branding
    {
        @apply md:flex items-center gap-12
    }
    .branding img
    {
        @apply w-[6rem] md:w-[7rem];
    }

    .branding .header__navd
    {
        @apply hidden md:flex gap-10 ;
    }

    .branding .header__navd li a
    {
        @apply font-medium text-sm text-light hover:text-berde
        md:text-[1.2rem];
    }

    .header__action
    {
        @apply md:hidden absolute top-0 right-0 
        w-[0] h-[100vh] px-0 pt-0 
        overflow-hidden transition-all 
        shadow-md md:static md:h-fit md:w-fit 
        md:shadow-none;

    }
    .header__action.open
    {
        @apply w-[100%] px-[10rem] pt-[10rem] transition-all
         bg-black 
    }

    .header__wrapper
    {
        @apply md:flex md:justify-between
    }

    .header__action .header__navm
    {
        @apply pb-10 flex 
        flex-col gap-5 md:hidden items-center;
    }

    .header__action .header__navm li:hover a
    {
        @apply text-light;
    }
    .header__action .header__navm li a
    {
        @apply font-medium text-[1.7rem] text-light ease-in-out duration-100 delay-150
         hover:bg-white opacity-100 hover:px-[3rem] hover:py-[.5rem] hover:delay-300 hover:bg-opacity-25 ;
    }

    .header__action .header__socials
    {
        @apply pt-4 flex flex-col gap-[3rem] 
        md:flex-row-reverse md:p-2;
    }
    
    .header__action .header__kamote
    {
        @apply flex gap-8 text-[1.3rem] text-light 
        pb-10 text-center items-center 
      
    }
    .burger__menu
    {
        @apply md:hidden;
    }

    .burger__menu span
    {
        @apply w-[1.5rem]  h-[.2rem]
         bg-light block rounded-full transition-all;
    }

    .burger__menu span:nth-child(2)
    {
        @apply my-1 
    }

    .header__wrapper
    {
        @apply flex items-center justify-between 
    }


    .burger__menu.open span:first-child
    {
        @apply transform translate-y-[8px] rotate-[225deg] 
        transition-all;

       
    }

    .burger__menu.open span:nth-child(2)
    {
        @apply opacity-0 transition-all;
    }

    .burger__menu.open span:last-child
    {
        @apply transform translate-y-[-7px] 
        rotate-[-225deg] transition-all;
    }
}
.wrapper
{
 @apply bg-HeroBanner min-h-[70vh] 
 md:min-h-[100vh] bg-no-repeat bg-cover bg-center;
}
.banner
{
    /* position: relative; */
}
.banner__wrapper
{
    @apply text-center md:pt-[5rem]; 
}

.banner__text h1
{
    @apply text-[2rem] text-light font-semibold 
    md:text-[5rem];
}

.banner__btn
{
    @apply flex flex-col md:flex-row 
    gap-[1.6rem] pt-8 md:pt-14 md:justify-center
}

/* services */

.services
{
    /* @apply max-w-[90rem]  */
    @apply: md:mb-[6rem]
}
.services .services__wrapper
{
    @apply md:grid md:grid-cols-3 gap-5 md:place-items-center
}

.services .services__wrapper .services__card 
{
    @apply shadow-2xl rounded-md transition-all
    hover:scale-75 translate-x-6 md:transform-none 

}

.services .services__wrapper .services__card 
.services__text
{
    @apply p-7 md:px-[2rem] md:py-[5rem]
    ease-in transition-all
    
}
.services .services__wrapper .services__card 
.services__text h4
{
    @apply text-center text-[1.4rem] 
    md:text-[3rem] font-semibold pb-4
}
.services .services__wrapper .services__card 
.services__text p
{
    @apply text-justify pb-4 md:text-[1.3rem] 
}

.services .services__wrapper 
.services__text ul 
{
    @apply md:flex flex-col gap-[1rem] md:gap-[1rem] 
}

.services .services__wrapper 
.services__text ul li 
{
    @apply text-[1rem] md:text-[1.3rem]
}

/* room */

.room
{
    @apply md:mt-[5rem]
}

.room__wrapper
{
    @apply grid grid-cols-1 gap-4
    md:grid-cols-3 md:gap-0;
}
.room__design
{
    @apply bg-roomDesign1 min-h-[50vh] 
    bg-no-repeat bg-cover 
    bg-center;
}

.room__design
{
    @apply flex flex-col justify-center 
    items-center text-center hover:bg-gray-600
}
.room__card
{
    @apply bg-[#30322f] bg-opacity-75 py-[4rem] px-[2rem] 
    md:mx-[5rem] mx-[3rem] text-light 
    /* ease-in transition-all
    scale-75 translate-x-4 skew-y-3 md:transform-none */
}

.room__card h1
{
  @apply text-center text-[1.5rem] pb-5
}

.room__card p
{
    @apply pb-9 text-justify text-[.8rem] ;
}


/* contact */

.contact .contact__wrapper .contact__info ul 
{
    @apply pt-[3rem] md:pt-0 pb-[2rem]
}

.contact .contact__wrapper 
{
    @apply md:inline-flex md:flex-row-reverse 
    md:justify-center md:max-w-[100%] md:gap-[5rem] 
}
.contact .contact__wrapper .contact__info ul li
{
    @apply flex flex-row gap-4 justify-start 
    md:items-start pt-[1rem] px-[.4rem] 
}

.contact .contact__wrapper .contact__info ul li i
{
    @apply text-[#fc4d3c]
}

.contact .contact__wrapper .contact__form form
{
    @apply flex flex-col gap-4  
    shadow-2xl px-[1rem] py-[1rem] 
    rounded-2xl md:w-[30rem]

}

.contact .contact__wrapper .contact__form form input, textarea
{
    @apply border-[.1rem] border-black 
    rounded-md py-[.7rem] px-[1rem] 
}

.contact .contact__wrapper .contact__form form textarea
{
    @apply resize-none
}
.contact .contact__wrapper .contact__form form a
{
    @apply self-end;
}

/* footer */

.footer
{
    @apply bg-[#575757] py-10 relative;
}

.footer .footer__wrapper
{
    @apply grid grid-cols-1 place-items-center 
    gap-5 text-light
    md:grid md:grid-cols-3;
}


.footer .footer__wrapper ul
{
    @apply flex flex-row gap-[2rem]
}

.footer .footer__wrapper ul li a
{
    @apply text-[1.5rem]
}

.footer__item:nth-child(1) { @apply md:order-2; }
.footer__item:nth-child(2) { @apply md:order-1; }
.footer__item:nth-child(3) { @apply order-3; }




@layer utilities
{
    .btn 
    {
        @apply  border-light border-[.1rem] text-light rounded-full
        px-[1rem] py-[1rem] 
       hover:bg-light 
       hover:text-[#fc4d3c]
        text-[1.3rem]
        md:w-[20%];  
    }
    .btnSquare
    {
        @apply block border-t-[#c03b2e] border-[.1rem] text-black 
        px-12 py-4 w-[100%] text-center       
        
        hover:bg-[#c03b2e]
        hover:text-light
        md:text-[1.3rem]
; 
    }

    .btnRound
    {
        @apply bg-[#c03b2e] text-light 
        w-[33%] text-center px-2 py-2 md:py-3 md:px-[.5rem] text-[.9rem]
         md:rounded-3xl; 
    }

    .btnRound2
    {
        @apply block bg-[#c03b2e] text-light rounded-full
        px-12 py-4 w-[100%] text-center  hover:bg-light hover:text-[#fc4d3c]
        text-[1.3rem] md:w-[20%]; 
    }


    .btnMd
    {
        @apply bg-[#fc4d3c] text-light rounded-md
        px-[1rem] py-[.6rem] hover:bg-light hover:text-[#fc4d3c]; 
    }
    

    .blockHeader h3
    {
        @apply text-[#fc4d3c] font-bold text-[2rem] md:text-[4rem]
        text-center md:text-left;
    }
    .blockHeader p
    {
        @apply text-center md:text-[1.3rem]
        md:text-left md:pb-7;
    }
}
